In [2]:
#Create a table using python dictionary

import pandas as pd
weather_data= { 'day': ['1/1/2017','2/1/2017','3/1/2017','4/1/2017','5/1/2017'],
              'temperature': [32,33,41,29,31],'windspeed': [6,3,3,5,7],
              'event': ['Rain','Sunny','Snow','Rain','Sunny']}
df=pd.DataFrame(weather_data)
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  2/1/2017           33          3  Sunny
2  3/1/2017           41          3   Snow
3  4/1/2017           29          5   Rain
4  5/1/2017           31          7  Sunny

In [9]:
df.loc[1]  #row selection

day            2/1/2017
temperature          33
windspeed             3
event             Sunny
Name: 1, dtype: object

In [10]:
df.iloc[1]  #row selection

day            2/1/2017
temperature          33
windspeed             3
event             Sunny
Name: 1, dtype: object

In [11]:
for i,j in df.iterrows():  #iterating rows
    print(i,j)

0 day            1/1/2017
temperature          32
windspeed             6
event              Rain
Name: 0, dtype: object
1 day            2/1/2017
temperature          33
windspeed             3
event             Sunny
Name: 1, dtype: object
2 day            3/1/2017
temperature          41
windspeed             3
event              Snow
Name: 2, dtype: object
3 day            4/1/2017
temperature          29
windspeed             5
event              Rain
Name: 3, dtype: object
4 day            5/1/2017
temperature          31
windspeed             7
event             Sunny
Name: 4, dtype: object

In [14]:
for i in df:
    print(df[i][1])

2/1/2017
33
3
Sunny

In [24]:
df.shape       #Row and Column Number   # df means Dataframe

(5, 4)

In [25]:
rows,columns=df.shape

In [6]:
rows

5

In [7]:
columns

4

In [8]:
row,col=df.shape

In [9]:
row

5

In [10]:
col

4

In [19]:
df.head()              #Elements from the first

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  2/1/2017           33          3  Sunny
2  3/1/2017           41          3   Snow
3  4/1/2017           29          5   Rain
4  5/1/2017           31          7  Sunny

In [42]:
df.head(2)            ##First two elements

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  2/1/2017           33          3  Sunny

In [43]:
df.head(0)                #First zero(Heading) elemet

Empty DataFrame
Columns: [day, temperature, windspeed, event]
Index: []

In [20]:
df.head(3)             #First three elements

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  2/1/2017           33          3  Sunny
2  3/1/2017           41          3   Snow

In [21]:
df.tail()               #Elements from the last

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  2/1/2017           33          3  Sunny
2  3/1/2017           41          3   Snow
3  4/1/2017           29          5   Rain
4  5/1/2017           31          7  Sunny

In [46]:
df.tail(2)               #Last two elements

        day  temperature  windspeed  event
3  4/1/2017           29          5   Rain
4  5/1/2017           31          7  Sunny

In [47]:
df.tail(3)                  #last 3 elements

        day  temperature  windspeed  event
2  3/1/2017           41          3   Snow
3  4/1/2017           29          5   Rain
4  5/1/2017           31          7  Sunny

In [48]:
df[2:4]                   #print row(2) to row 3 (not included 4)

        day  temperature  windspeed event
2  3/1/2017           41          3  Snow
3  4/1/2017           29          5  Rain

In [49]:
df[:]                        #print everything

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  2/1/2017           33          3  Sunny
2  3/1/2017           41          3   Snow
3  4/1/2017           29          5   Rain
4  5/1/2017           31          7  Sunny

In [50]:
df.columns                #print columns

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

In [52]:
df.event                  #print event columns

0     Rain
1    Sunny
2     Snow
3     Rain
4    Sunny
Name: event, dtype: object

In [22]:
df['event']              #Print event columns

0     Rain
1    Sunny
2     Snow
3     Rain
4    Sunny
Name: event, dtype: object

In [54]:
type(df['event'])       #Will print data type of event columns.

pandas.core.series.Series

In [55]:
type(df['temperature'])

pandas.core.series.Series

In [23]:
df[['event','day']]     #Will print event and day columns data only

   event       day
0   Rain  1/1/2017
1  Sunny  2/1/2017
2   Snow  3/1/2017
3   Rain  4/1/2017
4  Sunny  5/1/2017

In [24]:
df[['event','temperature','day']]  #Will print event, temperature and day columns data only

   event  temperature       day
0   Rain           32  1/1/2017
1  Sunny           33  2/1/2017
2   Snow           41  3/1/2017
3   Rain           29  4/1/2017
4  Sunny           31  5/1/2017

In [58]:
df[['event','temperature','day']].max()

event             Sunny
temperature          41
day            5/1/2017
dtype: object

In [59]:
df['event'].max()

'Sunny'

In [60]:
df['event'].min()

'Rain'

In [61]:
df['temperature'].max()

41

In [62]:
df['temperature'].min()

29

In [63]:
df['temperature'].std()    #Finds Standard Deviation

4.604345773288536

In [25]:
df.describe()   #Will print the Statistics of the integer data of the data set

       temperature  windspeed
count     5.000000   5.000000
mean     33.200000   4.800000
std       4.604346   1.788854
min      29.000000   3.000000
25%      31.000000   3.000000
50%      32.000000   5.000000
75%      33.000000   6.000000
max      41.000000   7.000000

In [65]:
df[df.temperature>=33]  #Temperature greater than or equal 33.

        day  temperature  windspeed  event
1  2/1/2017           33          3  Sunny
2  3/1/2017           41          3   Snow

In [66]:
df[df.temperature>=df.temperature.max()]  #will print temperature which is equal to the maximum temperature.

        day  temperature  windspeed event
2  3/1/2017           41          3  Snow

In [4]:
df[['day','temperature']][df.temperature==df['temperature'].max()]  #It will just print day and temperature columns

        day  temperature
2  3/1/2017           41

In [26]:
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  2/1/2017           33          3  Sunny
2  3/1/2017           41          3   Snow
3  4/1/2017           29          5   Rain
4  5/1/2017           31          7  Sunny

In [27]:
#  df.set_index('temperature', inplace=True)
# df

                  day  windspeed  event
temperature
32           1/1/2017          6   Rain
33           2/1/2017          3  Sunny
41           3/1/2017          3   Snow
29           4/1/2017          5   Rain
31           5/1/2017          7  Sunny

In [28]:
# df.reset_index(inplace=True)
# df

   temperature       day  windspeed  event
0           32  1/1/2017          6   Rain
1           33  2/1/2017          3  Sunny
2           41  3/1/2017          3   Snow
3           29  4/1/2017          5   Rain
4           31  5/1/2017          7  Sunny

In [32]:
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  2/1/2017           33          3  Sunny
2  3/1/2017           41          3   Snow
3  4/1/2017           29          5   Rain
4  5/1/2017           31          7  Sunny