In [1]:
import pandas as pd

In [3]:
dates=['2017-01-05 2:30:00 PM','jan 5, 2017 14:30:00','01/05/2017','2017/01/05','20170105']
pd.to_datetime(dates)

DatetimeIndex(['2017-01-05 14:30:00', '2017-01-05 14:30:00',
               '2017-01-05 00:00:00', '2017-01-05 00:00:00',
               '2017-01-05 00:00:00'],
              dtype='datetime64[ns]', freq=None)

# In US : mm/dd/yyyy
# In Europe : dd/mm/yyyy

In [4]:
pd.to_datetime('5/1/2017')

Timestamp('2017-05-01 00:00:00')

In [8]:
pd.to_datetime('5/1/2017' , dayfirst=True)

Timestamp('2017-01-05 00:00:00')

In [9]:
pd.to_datetime('5#1#2017' , format="%d#%m#%Y")  

#can use # sign but need to specify the format

Timestamp('2017-01-05 00:00:00')

In [10]:
pd.to_datetime('5$1$2017' , format="%d$%m$%Y")

#can use $ sign but need to specify the format

Timestamp('2017-01-05 00:00:00')

# to ignore the error while performing  to_datetime

In [2]:
dates=['2017-01-05 2:30:00 PM','jan 5, 2017 14:30:00','01/05/2017','2017/01/05','abc']
pd.to_datetime(dates,errors='ignore')

# 'abc' is string data type.

Index(['2017-01-05 2:30:00 PM', 'jan 5, 2017 14:30:00', '01/05/2017',
       '2017/01/05', 'abc'],
      dtype='object')

# Epoch (unix time) is number of seconds that have passed since Jan  1,1970 00:00:00 UTC 

# Number of seconds that have passed since 1970

In [6]:
# Epoch to normal date_time
t=1501356749
dt=pd.to_datetime([t], unit='s') 
dt                               #dt = date time

DatetimeIndex(['2017-07-29 19:32:29'], dtype='datetime64[ns]', freq=None)

In [7]:
# Normal date_time to Epoch

dt.view('int64')

array([1501356749000000000], dtype=int64)

In [ ]:
# extra zeros because by default it is in nano seconds